.header{
    position: fixed;
    z-index: 1 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: #323131;
    width: 100%;

    @media(max-width:768px){
        padding: 0 0;
        /* height: 10vh */
    }
}

.header h1{
    cursor: grab;
    font-size: 30px;
    padding-top: -90px;
    transform: skew(25deg);
    color: #fff;
    font-weight: 900;
    padding: 2px 8px;
    letter-spacing: 0.8em;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, 
    rgb(0 0 0 / 73%) 0px 16px 10px -10px; 

    @media(max-width: 768px){
        font-size: 20px;
    }
}

li{
    list-style: none;
}

nav{
    display: none;

    @media (max-width:768px){
        display: flex;
    
    }

}
.li a{
    /* position: relative; */
    text-decoration-line: none;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 20px;
    cursor: pointer;
    letter-spacing: 1.42px;
    color: #fff;

    @media(max-width:768px){
        padding: 0 5px;
        display: none;
        /* letter-spacing: 1px; */
    }

    &:hover{
        color: #000;
        font-weight: 900;
    }
}